body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #D3DDE6;
    background-image: url("header.jpeg");
    font-family: 'Poppins', sans-serif;
}
.list{
    list-style-type: none;
    margin:0px;
    padding-left: 0px;
}

li{
    float: left;
}

#demo3,#demo2,#demo1{
    margin-right:5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}
#demo3{
    margin-right:0px;
}

#demo9{
    margin-right:5px;
    font-size: 12px;
    margin-top: 2px;
    font-weight: 500;
}

.top-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.top-menu h3{
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: #000000;
    text-transform: uppercase;
}
.battery{
    display: flex;
    justify-content: center;
    align-items: center;
}
.battery span{
    font-size: 14px;
    font-weight: 600;
    margin-right: 3px;
}

.card{
    width: 300px;
    height: 550px;
    background-color: rgba(242, 245, 250, 0.3);
    border: 1px solid #F2F5FA;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrap {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 100%;
    margin-top: -30px;
}



#id{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:15px;
    font-weight: normal;
}

#batteryBody {
    float: left;
    width: 30px;
    height: 12px;
    border: 1px #444 solid;
}

#indicator {
    height: 100%;
    width: 50%;
}

#indicator.charging {
    background-color: #BFFF00;
}
#indicator.notCharging {
    background-color: #FFFF00;
}


button {
    width: 80px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    outline: none;
    align-items: center;
}

#display-area{
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -55%);
    margin-top: 150px;
}
#buttons {
    position: absolute;
    margin-top:200px;
    margin-left:20px;
}
#buttons li {
    display: inline;
    padding-left: 10px;
}

#name{
	font-size: 40px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.start{
	background-color:#AFB03F; 
}

.stop{
	background-color:#B61C1C;
}

.reset{
	background-color: #45347A;
}